.modal-wrapper{
  z-index: 1;
  position: fixed;
  inset: 0;
  background-color: rgba(#000000, 0.2);
  display:grid;
  place-items: center;
  .modal{
    width: 80%;
    height: 80%;
    background-color:white;
    
  }
}